@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Metamorphous&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Text+Me+One");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
header{
  font-family: Oswald;
  font-size: 30px;
}
.container{
  display:flex;
  justify-content:end;
  align-items:right; 
  margin-right: 100px;
}
body{
  background: linear-gradient(55deg, #e3e6e4 0%, #efd4cf 43%, #aeb8b4 76%);
  font-family: Oswald;
  width: 100%;
}
#intro{
  text-align: left;
  margin-left: 150px;
  margin-right: 400px;
}
h1{
  font-size: 90px;
  font-weight: 500;
}
h2{
  font-size: 55px;
  font-weight: 250;
}
#descrip{
  background: #d5bfee
  height: 100%;
  position: fixed;
  width: 100%;
}
#dbox{
  text-align: left;
  margin-left: 425px;
  border-style:solid;
  border-color:white;
  background-color: white;
}
a {
  font-family: Oswald;
  color: #000000;
  font-size: 18;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 3px 10px;
}
a:hover,
a.on {
  color: #c0e3dc;
  background-color: #63af71;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
