@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --extralightgray: #f6f6f6;
  --lightgray: #c9c9c9;
  --gray: #666666;
  --darkgray: #333333;
  --red: #f6002d;
  --purple: #d5bfee;
  --transition: 0.5s;
  --shadow: var(--gray) 0 0 20px;
  --shadow-sm: var(--lightgray) 0 0 20px;
  --border-radius: 7px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 2vh 20px;
  height: 11vh;
  background-color: transparent;
  display: flex;
  transition: background-color var(--transition) linear;
}

.navbar-scrolled {
  background-color: var(--white);
  transition: background-color var(--transition) linear;
  box-shadow: var(--shadow);
}

.logo {
  width: auto;
  height: 7vh;
}

.navbar-show {
  background: none;
  border: none;
  outline: none;
  margin-left: auto;
  color: var(--black);
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--white);
  text-align: center;
}

.navbar-nav {
  list-style-type: none;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 25%;
  padding: auto;
}

.nav-link {
  position: relative;
  padding: 10px 5px;
  text-decoration: none;
  color: var(--gray);
  transition: var(--transition);
}

.nav-link:hover,
.active {
  color: var(--black);
  transition: var(--transition);
}

.nav-link::before,
.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform: scaleX(0);
  transition: transform var(--transition) ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transition: transform var(--transition) ease;
}

.active::before {
  transform: scaleX(1);
}

.navbar-hide {
  position: absolute;
  margin: 0;
  padding: 10px;
  background: var(--red);
  color: var(--white);
  border: none;
  outline: none;
  top: 0;
  right: 0;
}

section {
  width: 100%;
  min-height: 100vh;
}

.hero {
  background: linear-gradient(55deg, #e3e6e4 0%, #efd4cf 43%, #aeb8b4 76%);
  padding: 2vh 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  min-height: 40vh;
  margin-top: 20vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.hero-img {
  width: auto;
  height: 30vh;
  display: block;
}

.who,
.hero-stats,
.hero-contact {
  padding: 2vh 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.who {
  background-color: var(--purple);
}

.who-text,
.hero-stats-text,
.hero-contact-text {
  padding: 10%;
  background-color: var(--white);
}

.who-text > h1,
.hero-stats-text h1,
.hero-contact-text h1 {
  margin-top: 0;
}

.who-text > p,
.hero-stats-text p,
.hero-contact-text p {
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background-color: none;
  border: none;
  outline: none;
}

.btn-landing {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--red);
  font-family: "Monserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 10px 20px;
  transition: var(--transition);
}

.btn-landing:hover {
  background-color: var(--red);
  color: var(--white);
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
}

.hero-stats {
}

.hero-stats-text,
.hero-contact-text {
  text-align: center;
}

.hero-stats-items {
  margin: 5vh 0;
}

.hero-stats-img {
  width: auto;
  height: 15vh;
}

.hero-contact {
  background-color: var(--red);
}

.contact-form {
  border-radius: 10px;
}

.contact-form-item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-bottom: 0.5px solid var(--lightgray);
  background-color: var(--extralightgray);
  resize: none;
}

.contact-form-item:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.contact-form-item:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: none;
}

.contact-form-item:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .navbar {
    align-items: center;
    align-content: space-between;
  }

  .navbar-show,
  .navbar-hide {
    display: none;
  }

  .navbar-collapse {
    position: relative;
    display: block;
    width: 40%;
    height: inherit;
    background-color: transparent;
    margin-left: auto;
  }

  .navbar-nav {
    height: inherit;
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    margin: auto;
  }

  .hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 8fr 4fr;
  }

  .hero-text {
    margin-top: 5vh;
    padding: 0 20% !important;
  }

  .hero-text > h1 {
    font-size: 3rem;
  }

  .hero-text > p {
    font-size: 1.5rem;
  }

  .hero-img {
    height: 40vh;
  }

  .who {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }

  .hero-stats-items {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 5vh 10%;
  }

  .hero-contact-text {
    width: 100%;
  }

  .contact-form {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "a d"
      "b d"
      "c d";
    gap: 10% 2%;
  }

  #name {
    grid-area: a;
  }

  #email {
    grid-area: b;
  }

  #description {
    grid-area: c;
  }

  #reason {
    grid-area: d;
  }

  .contact-form-item {
    border: none;
  }

  .contact-form-item:first-child,
  .contact-form-item:last-child {
    border-radius: 0;
  }
}
